[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
sqlalchemy = "*"
alembic = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[scripts]
format = "black ."
prestart = "bash prestart.sh"
dev = "uvicorn app.main:app --reload"
